@font-face {
    font-family: 'Raleway Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Raleway/Raleway-Medium.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Raleway/Raleway-Regular.woff2) format('woff2'), url(../fonts/Raleway/Raleway-Regular.woff) format('woff'), url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/Roboto/Roboto-Black.woff2) format('woff2'), url(../fonts/Roboto/Roboto-Black.woff) format('woff'), url(../fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Opensans-Bold/Opensans-Bold.woff2) format('woff2'), url(../fonts/Opensans-Bold/Opensans-Bold.woff) format('woff'), url(../fonts/Opensans-Bold/Opensans-Bold.ttf) format('truetype');
}