$white:#fff;
$black: #333;
$grey: #898f8f;
$yellow: #ffcc00;
$dark-grey: #666;
$light-grey: #ccc;
$ss: sans-serif;
$opensans-bold: 'OpenSans-Bold';
$roboto-black: 'Roboto Black';
$raleway-regular: 'Raleway Regular';
$raleway-medium: 'Raleway Medium';